@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1 {
    font-size: 64px;
    font-family: 'Roboto', san-serif;
    letter-spacing: .6em;
    text-align: center;
}
p {
    font-size: 16px;
    font-family: sans-serif;
    opacity: .8;
    line-height: 2em;
    text-align: center;
 
}
a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}
a.linkednin {
    color: #ffffff;
} 
a.github {
    color: #ffffff;
}
a.social:hover {
    transform: translateY(-2px);
}
.photo img {
    display: inline;
    height: 250px;
    width: 250px;
    box-shadow: 0 4px 26px #ffffff;
    border-radius: 30%;
    margin: 0 1rem;
}

.team-container {
    display: flex;
    justify-content: space-evenly;
   
}

.about-container {
    color: black;
}
