.image{
  height:400px;
  width: auto;
}

#nav {
  margin: 10px;
  color: white;
  text-align: center;
  font-size: 24px;
}

.Map-div {
  max-width: 50%;
  height: auto;
  color: blue;
  border: 1px solid green;
  
}

