
.faves-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    color: aquamarine;
    text-align: center;
    margin: 10% auto 0 auto;
    
}
.fave-card-div{
    margin: 10px;
    display: inline-block;
    border: 1px solid green;
    width: 200px;
}



