@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.faves-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    text-align: center;
    margin: 10% auto 0 auto;
    
}
.fave-card-div{
    margin: 10px;
    display: inline-block;
    width: 500px;
    font-family: 'Roboto', sans-serif;
}

#disasterimg {
    margin-bottom: -30px;
    border-radius: 50%;
}

#disastertitle {
    margin-bottom: 20px;
    padding-top: 50px;
    font-size: 20px;
    line-height: 1.3em;
}

/* h1 {
    font-size: 64px;
    font-family: 'Roboto', san-serif;
    letter-spacing: .6em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
} */

p#date {
    margin-top: -20px;
}
