@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

video#bgvideo {
    min-width: 100%;
    min-height: 100%;
    bottom: 0;
    right: 0;
    padding: none;
    position: fixed;
    z-index: 0;
    opacity: 0.5;
}

  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 30%;
    left: 25%;
    right: 25%;
    color: #F1F1F1;
    width: 50%;
    padding: 20px;
    text-align: center;
  }
  /* Style the button used to pause/play the video */

h1 {
    font-size: 64px;
    font-family: 'Roboto', san-serif;
    letter-spacing: .6em;
    text-shadow: 2px 2px 23px #ffffff;
}
h3 {
    font-size: 20px;
    font-family: sans-serif;
    opacity: .8;
    letter-spacing: .2em;
    line-height: 2em;
    text-transform: uppercase;
    margin-bottom: 50px;
    }

.control-bar {
    visibility: hidden;
}

.signup {
    margin-left: 10px;
    display: inline-block;
    color: #ccc7c7;
    font-family: "Montserrat", sans-serif;
}
.nav {
    color: white;
    text-decoration: none;
    margin: 50px;
}

