@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
video#bgvideo {
    min-width: 100%;
    min-height: 100%;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: none;
    position: fixed;
}
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 50%;
    left: 25%;
    right: 25%;
    color: #F1F1F1;
    width: 50%;
    padding: 20px;
    text-align: center;
  }
  /* Style the button used to pause/play the video */
  button {
    width: 150px;
    font-size: 16px;
    padding: 5px;
    margin: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 8%;
  }
  button:hover {
    background: #ddd;
    color: black;
  }
h1 {
    font-size: 64px;
    font-family: 'Roboto', san-serif;
    letter-spacing: .6em;
}
h3 {
    font-size: 16px;
    font-family: sans-serif;
    opacity: .8;
    letter-spacing: .2em;
    line-height: 2em;
    text-transform: uppercase;
    margin-bottom: 50px;
    }
.header {
    background: black;
    height: 80px;
    width: 100vw;
    padding-top: 10px;
    color: white;
    opacity: .75;
    z-index: 2;
    display: flex;
}
.login+input {
    height: 20px;
    text-decoration: none;
    margin: 10px;
}
input {
    margin-right: 20px;
    margin-left: 20px;
}
.loginbtn {
    background-color: white;
    color: black;
    width: 100px;
    border-radius: 70%;
}
.loginbtn:hover {
    background-color: lightblue;
    color: black;
    width: 100px;
    border-radius: 70%;
}
.nav {
    color: white;
    text-decoration: none;
    margin: 50px;
}
