@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


#search {
    top: 23%;
    left: 43%;
    position: absolute;
    z-index: 53;
    margin-bottom: 20px;
}

select option {
    opacity: .2;
    
    color: #0088a9;
    text-transform: capitalize;
}

#searchtitle {
    color: white;
    font-family: 'Roboto', sans-serif;
    opacity: .8;
    line-height: 1em;
    font-weight: 400;
    position: fixed;
    font-size: 18px;
    top: 15%;
    left: 10%;
    margin-top: 15px;
    margin-bottom: 20px;
    letter-spacing: .2em;
}

select#events {
    padding: 10px 20px;
}


